{% extends 'base.html' %}

{% block title %}Note Details {% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/notes/note-details.css' %}">
{% endblock %}

{% block content %}

<div class="note-details">

    <h1>{{note.title}}</h1>
    <label for="">Created on: {{note.created_on}}</label>

    <div class="parent">
        {% if note.image %}
            <img src="{{note.image.url}}" alt="">
        {% endif %}
        <p>
            {{note.content}}
        </p>
    </div>

    <div class="controls">
        <a href="{% url 'note_update' note.id %}">Update Note</a>

        <a href="{% url 'note_delete' note.id %}">Delete Note</a>
    </div>

    <div class="comments">
        {% for cmt in comments  %}
        <div class="comment">
            <label class="user">{{comment.author.username}}</label>
            <p>{{cmt.content}}</p>
            <label class='date'>{{cmt.created_on}}</label>
        </div>
        {% endfor %}
        
        <div class="comment">
            <form action="{% url 'create_comment' %}" method="post">
                <label for="content" class="user">Create a new comment</label>
                <input type="hidden" name="note_id" value=""{{note.id}}>
                <textarea name="content" id="" rows="3"></textarea>
                <button class="">Save</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}