{% extends 'base.html' %}
{% load static %}
{% block title %}{{ topic }} Flashcards{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/flashcard_set.css' %}">
{% endblock %}

{% block content %}
<div class="heading">
    <h2>{{ title }}</h2>
</div>
<div class="subtopic-filters">
    <p>Filter by Subtopic:</p>
    <div class="topic-buttons">
        <a href="{% url 'flashcard-set' slug=slug card_index=0 %}" class="{% if not selected_topic %}active{% endif %}">All</a>
        {% for topic in topics %}
            <a href="{% url 'flashcard-set' slug=slug card_index=0 %}?topic={{ topic|urlencode }}" class="{% if selected_topic == topic %}active{% endif %}">
                {{ topic }}
            </a>
        {% endfor %}
    </div>
</div>
<div class="flashcard-set">
    <div class="card-inner">
        <div class="card-front">
            <p>{{ flashcard.question }}</p>
        </div>
        <div class="card-back">
            <p>{{ flashcard.answer }}</p>
        </div>
    </div>

</div>
{% if card_index|add:"1" < flashcards|length %}
    <div class="btnContainer">
        <a href="{% url 'flashcard-set' slug=slug card_index=card_index|add:"1" %}{% if selected_topic %}?topic={{ selected_topic|urlencode }}{% endif %}" class="btn">Next</a>
    </div>
{% else %}
    <p style="width: 100%; text-align: center;">You’ve reached the end!</p>
{% endif %}
<script>
    const flashcard = document.querySelector('.flashcard-set');
    flashcard.addEventListener('click', () => {
        flashcard.classList.toggle('flipped');
    });
</script>


{% endblock %}
