{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/instruments/instrument-main.css' %}">

{% endblock %}

{% block content %}
<div class="instrument-main">
    <h1 class="specialty-name">{{ specialty.name }}</h1>
    
    
    {% if instruments %}
    <div class="instrument-container">
        <ul>
        {% for instrument in instruments %}
        <div class="model-container">
            <div class="model_embed">{{ instrument.model_embed_code|safe }}</div>
            <div class="model-description">
                <p>This is a description</p>
            </div>

        </div>
        <li>{{ instrument.name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No instruments available for this specialty.</p>
    {% endif %}

    </div>

</div>


{% endblock %}