{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/instruments/instrument-hub.css' %}"> 
{% endblock %}

{% block content %}
<div class="instrument-hub">
    
    <div class="specialties-grid">
        <h1>Instrument Hub</h1>
        <p>Select a specialty to start</p>
        <div class="card-container">
            {% for specialty in specialties %}
            <div class="specialty-card">
                <div class="card-content">
                    <h2>{{specialty.name}}</h2>
                    <a href="{% url 'instrument_main' slug=specialty.slug index=0 %}">
                        Explore
                    </a>
                </div>
            </div>
    
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}