{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/instruments/instrument-main.css' %}">

{% endblock %}

{% block content %}
<div class="instrument-main">
    <h1 class="specialty-name">{{ specialty.name }}</h1>
    
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            {% for instrument in instruments %}
                {% if instruments %}
                {% with embed_codes_list=instruments.0.get_embed_codes %}
                    {% for code in embed_codes_list %}
                    {% if code %}
                        <div class="carousel-item model_embed {% if forloop.first %}active{% endif %}">
                            <div class="model_embed">{{ code|safe }}</div>
                        </div>
                    {% endif %}
                    {% endfor %}
                {% endwith %}
                {% else %}
                <p>No instruments available for this specialty.</p>
                {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>



</div>


{% endblock %}

{% block js %}

{% endblock %}