/* mobile screens */

@media (max-width: 600px) {
    html {font-size: 14px;}
    
    .logoContainer {display: none;}

    .navbar { width: 100%; margin: 0 auto;}

    .progress-ring {
        aspect-ratio: 1 / 1 !important;
    }
    .dashboard-container {border-radius: 2rem;}
    .card {
        padding: 1rem;
        margin: 1rem;
    }
    .nav-links {width: 100vw !important; justify-content: center !important;}
    .progress-cards {justify-content: center;}
    .card-container {display: flex; flex-direction: column;}

}

@media (min-width: 601px) and (max-width: 1200px) {
    html {
        font-size: 16px;
    }
    .logoContainer {display: none;}
    .progress-ring {
        min-height: 100%;
    }
    .card {
        padding: 1rem;
        margin: 1rem;
        flex: 1 1;
    }
    .progress-cards {justify-content: center; flex-direction: row; flex-wrap: unset;}
    .card-container {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 901px)
and (max-width: 1200px) {
    html {
        font-size: 18px;
    }
    .card {
        padding: 1rem;
        margin: 1rem;
    }
    .progress-cards {justify-content: center;}
    .card-container {display: flex; flex-direction: row;}
}

@media (min-width: 1201px) {
    html {
        font-size: 20px;
    }
    .card {
        padding: 1rem;
        margin: 1rem;
    }
}
