.instrument-main {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specialty-name {
    width: 80%;
    text-align: center;
    margin: 0 auto 2rem auto;
    border-bottom: 2px solid var(--navy);
}


.carousel {
    width: 600px;
    height: 200px;
}
.slides {
    position: relative;
    height: 150px;
    width: 100%;
}
.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide iframe {
    width: 100%;
    height: 100%;
}
#slide1:checked ~ .slides #s1, 
#slide2:checked ~ .slides #s2, 
#slide3:checked ~ .slides #s3{
    display: block;
}
.navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 0.5rem;
}
.navigation label {
    padding: 2px 20px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.navigation label:hover {
    background-color: var(--blue-light);
}
#slide1:checked ~ .navigation label[for="slide1"],
#slide2:checked ~ .navigation label[for="slide2"],
#slide3:checked ~ .navigation label[for="slide3"] {
    background-color: var(--navy);
    border-color: var(--navy);
}
.Instrument_description {
    width: 80%;
    background-color: #ccc;
    border-radius: 20px;
}
.accordion {
    width: 100%;
}
.accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.accordion-content {
    padding: 1rem;
}
.accordion-item {
    border-bottom: 1px solid #ddd;
}
.accordion-content {
    display: none;
}
.accordion-item.active .accordion-content {
    display: block;
}

.question_container {
    width: 80%;
    background-color: white;
    margin: 2rem 0;
    border-radius: 20px;
    border: 2px solid var(--navy);
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.choice_container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
form h5 {
    text-align: center;
    padding: 1rem;
}
.choice_container li {
    list-style: none;
    border: 2px solid var(--navy);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}
.dot {
    width: 5px;
    height: 5px;
    border: 2px solid var(--navy);
    border-radius: 29%;
}

