{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SurgiPrep{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediaQueries.css' %}">

    {% block css %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logoContainer">
                <img class="logo" src="{% static 'img/Surgiprep.svg' %}"></img>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">home</a></li>
                <li><a href="{% url 'flashcard_home' %}">Flashcards</a></li>
                <li><a href="">Tray Setup</a></li>
                <li><a href="">Instruments</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 SurgiPrep</p>
    </footer>

    {% block js %}
    {% endblock %}
    
</body>
</html>